<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-googlecloudvision" version="1.0.0">
   <name>Cordova Google Cloud Vision API </name>
   <description>Read Text from the paper/image using google Cloud Vision API.</description>
   <license>MIT</license>
   <keywords />

   <js-module src="www/plugin.js" name="plugin">
      <clobbers target="CloudVision" />
   </js-module>
   <!-- android -->
   <platform name="android">
   	<framework src="com.google.api-client:google-api-client-android:1.23.0" />
	<framework src="com.google.http-client:google-http-client-gson:1.19.0" />
	<framework src="com.google.android.material:material:1.0.0" />
	   <framework src="com.google.apis:google-api-services-vision:v1-rev22-1.22.0" />
      <config-file target="res/xml/config.xml" parent="/*">
         <feature name="CloudVision">
            <param name="android-package" value="com.cordova.google.cloudvision.CloudVision" />
            <param name="onload" value="true" />
         </feature>
		 <uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
		<uses-permission android:name="android.permission.CAMERA"/>
      </config-file>
      <source-file src="src/android/CloudVision.java" target-dir="src/com/cordova/CloudVision" />
   </platform>
  
</plugin>

