<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-ostheme-darkmode" version="1.0.0">
   <name>Cordova OSTheme DarkMode</name>
   <description>Get information about the os theme (light / dark modes).</description>
   <license>MIT</license>
   <keywords />

   <js-module src="www/plugin.js" name="plugin">
      <clobbers target="OSTheme" />
   </js-module>
   <!-- android -->
   <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
         <feature name="OSTheme">
            <param name="android-package" value="com.cordova.darkmode.OSTheme" />
            <param name="onload" value="true" />
         </feature>
      </config-file>
      <source-file src="src/android/OSTheme.java" target-dir="src/com/cordova/darkmode" />
   </platform>
   <!-- iOS -->
   <platform name="ios">
      <config-file target="config.xml" parent="/*">
         <feature name="OSTheme">
            <param name="ios-package" value="darkmode" />
         </feature>
      </config-file>
              <framework src="Foundation.framework" />

      <header-file src="src/ios/darkmode.h" />
    <source-file src="src/ios/darkmode.m" />
   </platform>
</plugin>

